.name-wrapper {

    position: absolute;
    font-family: 'nasa';
    font-size: 3rem;
    top: 20%;
    left: 30%;
}


.name {

    color: rgb(251, 255, 0);
}

.fade-in-out {
    -webkit-animation: fade-in-out 3s cubic-bezier(.42, 0, 1, 1) both;
    animation: fade-in-out 3s cubic-bezier(.42, 0, 1, 1) both;

}


.fade-in {
    -webkit-animation: fade-in 3s cubic-bezier(.42, 0, .58, 1) both;
    animation: fade-in 3s cubic-bezier(.42, 0, .58, 1) both;

}


@-webkit-keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    50% {

        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    50% {

        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}