html,
body {

  height: 100%;
}


@font-face {

  font-family: 'nasa';
  src: url('../fonts/Nasa.woff') format('woff'),
    url('../fonts/Nasa.ttf') format('truetype');

}

body {
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: 100% !important;
  font-family: sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
}


@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

canvas {
  display: block;
}


@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }

  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -2 !important;
}

.stars {
  background: #000 url(../images/stars.png) repeat top center;
}

.twinkling {
  background: transparent url(../images/twinkling.png) repeat top center;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.hidden {

  display: none !important;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1 !important;
}



.fade-in-out {
  -webkit-animation: fade-in-out 3s cubic-bezier(.42, 0, 1, 1) both;
  animation: fade-in-out 3s cubic-bezier(.42, 0, 1, 1) both;

}


.fade-in {
  -webkit-animation: fade-in 3s cubic-bezier(.42, 0, .58, 1) both;
  animation: fade-in 3s cubic-bezier(.42, 0, .58, 1) both;

}

.name-wrapper {

  position: absolute;
  font-family: 'nasa';
  font-size: 3rem;
  top: 30%;
  left: 30%;
}


.name {

  color: red;
}



@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  50% {

    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  50% {

    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}